<h1 class="header">News Alligator</h1><br>

<h2> <%= @article.title %> </h2><br>
<h4> <%= @article.description %> </h4><br>
<a href="<%= @article.url %>" target="_blank"> <%= @article.url %></a><br><br>

<h4 class="new"><a href="/articles/new">Add A New Article</a></h4>
<h4 class="back"><a href="/articles">Back to All Articles</a></h4>
